{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block content %}


<ul>
    <t5>
    {% for item in movies %}
    <div><t3>{{ item.movietitle }}</t3></div>
    <br>

    <a name="imgen" > <img src="{{url_for('static', filename= "img/barbieylas12.jpg" )}}" width="400" height="500"/></a>
    
    <div>Fecha: <t3>{{ item.year }}</t3></div>




    <form action="" method="post">
        <input id="estrella1" type="radio" name="estrellas" value="1">
            <stars><label for="estrella1">★</label></stars>
            <input id="estrella2" type="radio" name="estrellas" value="2">
            <stars><label for="estrella2">★</label></stars>
            <input id="estrella3" type="radio" name="estrellas" value="3">
            <stars><label for="estrella3">★</label></stars>
            <input id="estrella4" type="radio" name="estrellas" value="4">
            <stars><label for="estrella4">★</label></stars>
            <stars><input id="estrella5" type="radio" name="estrellas" value="5">
            <stars><label for="estrella5">★</label></stars>
        {% if not session['usuario'] %}
        <button name="submit" title="You need to be loged in" value="{{ item.movieid }}" disabled="true">Submit</button>
        {% else %}
        <button name="submit" value="{{ item.movieid }}">Submit</button>
        {% endif%}
        
    </form>

    <form action="" method="post">
        <button name="add_to_cart" value="{{ item.movieid }}">Add to cart</button>
    </form>
    

    <label>    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
        <t3> {{ message }} </t3>
                {% endfor %}
                {% endif %}
                {% endwith %}</label>

</t5>



    
  

    <br>


    {% endfor %}
    
  
            {% endblock %}
</ul>


