{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock%}

{% block content %}

<br><br>

<t2>
    <form action="" method="post" novalidate>
        <label><b>Film Genre </b></label>
        <select name="genre" type="select">
            <option value="*">All</option>
            <option value="1">Horror</option>
            <option value="2">Reality-TV</option>
            <option value="3">Sport</option>
            <option value="4">Action</option>
            <option value="5">Mystery</option>
            <option value="6">Thriller</option>
            <option value="7">Family</option>
            <option value="8">Comedy</option>
            <option value="9">Film-Noir</option>
            <option value="10">Adventure</option>
            <option value="11">Talk-Show</option>
            <option value="12">Crime</option>
            <option value="13">History</option>
            <option value="14">Documentary</option>
            <option value="15">Romance</option>
            <option value="16">Drama</option>
            <option value="17">Fantasy</option>
            <option value="18">Music</option>
            <option value="19">Short</option>
            <option value="20">Western</option>
            <option value="21">Musical</option>
            <option value="22">Sci-Fi</option>
            <option value="24">Animation</option>
            <option value="25">Biography</option>
            <option value="26">War</option>
            <option value="27">Adult</option>
        </select>
        <label><b>Film Search </b></label>
        <input name="search" type="text" placeholder="Enter filmname or director"> </input>
    </form>
</t2>

<segment>

    <ul>


        {% for item in movies %}
        <div>
            <t3>{{ item.movietitle }}</t3>
        </div>


        <form action="" method="post">
            <button name="details_film" value="{{ item.movieid }}"> 
                <img src="{{url_for('static', filename= "img/barbieylas12.jpg")}}"
                    width="400" height="500" />
                </button>

                </form>
        <br><br />
        {% endfor %}


</segment>

{% endblock %}