{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock%}

{% block content %}

<segmentr>
    <h1>Register</h1>
    <form action="" method="post" novalidate>
        <label><b>Username </b></label>
        <input name="username" type="text" placeholder="Enter username">

        <label><b>Email </b></label>
        <input name="email" type="text" placeholder="Enter email">

        <label><b>Adress </b></label>
        <input name="adress" type="text" placeholder="Enter adress">

        <br><br>
        <contra>
            <label><b>Password</b></label>
            <input placeholder="Enter password" id="password" name="password" type="password"
                oninput="passwordStrenght()" />
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                {{ message }}
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <p id="strength"></p>
            <link rel="stylesheet" href="//code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">
            <link rel="stylesheet" href="/resources/demos/style.css">
            <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
            <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
            <script>
                function passwordStrenght() {
                    var x = document.getElementById("password").value;

                    if (x.length <= 2) {
                        document.getElementById("strength").innerHTML = "Strength: Very Low";
                        $("#progressbar").progressbar({
                            value: 0
                        });
                    }
                    else if (x.length <= 6) {
                        document.getElementById("strength").innerHTML = "Strength: Low";
                        $("#progressbar").progressbar({
                            value: 37
                        });
                    }
                    else if (x.length <= 12) {
                        document.getElementById("strength").innerHTML = "Strength: Medium";
                        $("#progressbar").progressbar({
                            value: 52
                        });
                    }
                    else if (x.length >= 12 && (/[0-9]/.test(x) && (/[A-Z]/.test(x)))) {
                        document.getElementById("strength").innerHTML = "Strength: Very Hard";
                        $("#progressbar").progressbar({
                            value: 100
                        })
                    }
                    else if (x.length >= 12 && (/[A-Z]/.test(x))) {
                        document.getElementById("strength").innerHTML = "Strength: Hard";
                        $("#progressbar").progressbar({
                            value: 78
                        })
                    }

                }
            </script>


        </contra>

        <label><b>&nbsp Confirm Password</b></label>
        <input name="confirm_password" type="password" placeholder="Confirm password">
        <label><b> Credit card</b></label>
        <input name="credit_card" type="text" placeholder="Enter credit card">

        <input type="submit" value="Register">

        <br>
        <br><br>
        <br>
        <barrita>
            <div id="progressbar"></div>
        </barrita>

    </form>
    <br>

</segmentr>

{% endblock %}