<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %} {% endblock %}- VideoClub</title>
        <!-- Uso de url_for para obtener la ruta de elementos de la página -->
        <link rel="stylesheet" type="text/css" href= {{ url_for('static', filename='css/si1.css' ) }}/>
    </head>
    
    <div class="cabecera"><t1><br>&nbsp VideoClub:</t1><br>
    </div>
<body>
    
      <a href="{{url_for('list_movies')}}">List of movies</a>
      <br>
      <a href="{{url_for('index')}}">Home</a>
      <br>
      <a href="{{ url_for('cart') }}">Cart</a>
      <br>
      {% if not session['usuario'] %}
      <a href="{{ url_for('login') }}">Sign In</a></div>
      <br>  
      <a href="{{ url_for('register') }}">Register</a></div>
      <br>
      <span>Usuario: An&oacutenimo</span>
        {% else %}
        <a href="{{ url_for('history') }}">History of Purchases</a></div>
        <br>
        <a href="{{ url_for('logout') }}">Log out</a></div>
        <br>
        <span>Usuario: {{ session['usuario'] }}</span>
        {% endif%}
    {% block content%}
    {% endblock %}

    


</body>
  
</html>
