{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock%}

{% block content %}
<segment>
    {% for item in movies %}
    {% if item.cantidad is defined %}
    <br><br />
    <div>
        <t3>{{ item.titulo }}</t3>
    </div>
    <img src="{{url_for('static', filename= item.poster )}}" width="400" height="500">
    <form action="" method="post">
        <div><button name="delete" value="{{ item.id }}">Delete</button>
            <button name="add" value="{{ item.id }}">Add</button>
        </div>
    </form>

    <label> x<t3>{{ item.cantidad }} (Total: {{ item.cantidad * item.precio}})</t3> </label>
    {% else %}
    {% endif %}

    {% endfor %}
    
    <ul>
    <br><br>
    <form action="" method="post">
        {% if not session['usuario'] %}
        <button name="purchase" title="You need to be loged in" value="purchase" disabled="true">Purchase</button>
        {% else %}
        <button name="purchase" value="purchase">Purchase</button>
        {% endif%}
        
    </form>
</ul>

{% with messages = get_flashed_messages() %}
{% if messages %}
<ul class=flashes>
        {% for message in messages %}
        {{ message }}
        {% endfor %}
        {% endif %}
        {% endwith %}
        {% endblock %}
    </segment>