{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block content %}
    <ul>
    {% for item in movies %}
    <br><br/>
    <div><t3>{{ item.titulo }}</t3></div>
    <img src="{{url_for('static', filename= item.poster )}}"  width="400" height="500">
    <form action="" method="post">
        <div><button name="delete" value="{{ item.id }}">Delete</button>
            <button name="add" value="{{ item.id }}">Add</button>
        </div>
    </form>
    <label> x<t4>{{ item.cantidad }}  (Total: {{ item.cantidad *  item.precio}})</t4> </label>
    <h4></h4>


    
   
    {% endfor %}
    <form>
        <br>
        <div><button name="purchase" value="val">Purchase</button></div>

    </form>


    <ul>
{% endblock %}