{% extends "base.html" %}

{% block title %}
    {{ title }}
{% endblock%}

{% block content %}


<ul>
    <t5>
    {% for item in movies %}
    <div><t3>{{ item.titulo }}</t3></div>
    <br>

    <a name="imgen" > <img src="{{url_for('static', filename= item.poster )}}" width="400" height="500"/></a>
    
    <div>Fecha: <t3>{{ item.año }}</t3></div>
    <div>Categoría: <t3>{{ item.categoria }}</t3></div>
    <div>Director: <t3>{{ item.director }}</t3></div>
    <div>Precio: <t3>{{ item.precio }}</t3></div>

    <label>Valoraciones: {{ item.valoraciones }}</label>
    <label>   Puntuacion: {{ item.puntuacion }}</label>


    <form action="" method="post">
          <input id="estrella1" type="radio" name="estrellas" value="1">
            <stars><label for="estrella1">★</label></stars>
            <input id="estrella2" type="radio" name="estrellas" value="2">
            <stars><label for="estrella2">★</label></stars>
            <input id="estrella3" type="radio" name="estrellas" value="3">
            <stars><label for="estrella3">★</label></stars>
            <input id="estrella4" type="radio" name="estrellas" value="4">
            <stars><label for="estrella4">★</label></stars>
            <stars><input id="estrella5" type="radio" name="estrellas" value="5">
            <stars><label for="estrella5">★</label></stars>
            <button name="submit" value="{{ item.id }}">Submit</button>
    </form>



    <form action="" method="post">
        <button name="add_to_cart" value="{{ item.id }}">Add to cart</button>
    </form>
</t5>

    
    <aside>
        <t4>
            <div>Actores: </div>
            {% for actor in item.actores %}
            <div><t3>{{ actor.nombre }} : {{ actor.personaje }} 
                <div>
                <img src="{{url_for('static', filename= actor.foto )}}" width="300" height="400"/>
                </div>
            </t3></div>
            
            {% endfor %}
        </t4>
 
    </aside>

    <br>


    {% endfor %}
</ul>

{% endblock %}
