{% extends "base.html" %}

{% block title %}
{{ title }}
{% endblock%}

{% block content %}

<br><br>

<t2>
    <form action="" method="post" novalidate>
        <label><b>Film Genre </b></label>
        <select name="genre" type="select">
            <option value="all">All</option>
            <option value="Aventura">Adventure</option>
            <option value="Terror">Terror</option>
            <option value="Fantasia">Fantasía</option>
            <option value="Accion">Acción</option>
        </select>
        <label><b>Film Search </b></label>
        <input name="search" type="text" placeholder="Enter filmname or director"> </input>
    </form>
</t2>

<segment>

    <ul>


        {% for item in movies %}
        <div>
            <t3>{{ item.titulo }}</t3>
        </div>


        <form action="" method="post">
            <button name="details_film" value="{{ item.id }}"> 
                <img src="{{url_for('static', filename= item.poster )}}"
                    width="400" height="500" />
                </button>

                </form>
        <br><br />
        {% endfor %}
</segment>

{% endblock %}