body {
    background-color: rgb(231, 1, 127)
}
t1{ font-size: 50pt;}
t2{position: absolute; right: 1270px; top: 100px}
t3{ font-size: 20pt;}
t4{ position: absolute; top: 145px; right: -1000px; width: 1900px; height: 100px; }
t5{ position: absolute; right: 1050px; top: 160px }
stars{ color:rgb(243, 251, 1);}

contra{float: left;}

segment{position: absolute; right: 1050px; top: 160px}
segmenth{position: absolute; left: 230px; top: 70px}
segmentin{position: absolute; right: 1200px; top: 90px}
segmentr{position: absolute; right: 890px; top: 90px}

 
body_menu{font-family: Arial, Helvetica,sans-serif; font-size:15px;}
.navigation {margin:0;padding:0;list-style:none;}

.navigation li {float:none;width:150px;position:relative;}
.navigation li a {
    background: #f23d1d;
    color:#fff;
    display:block;
    padding:8px 7px 8px 7px;
    text-decoration:none;
    border-top:1px solid #F2861D;
    text-align:center;
    text-transform:uppercase;
    } 
.navigation li a:hover {color:#F2861D; }
.navigation ul {
    
        position:absolute;
        left:150px;
        top: 1.3px; 
        display:none;
        margin:0 0 0 -1px;
        padding:0;
        list-style:none;
        border-bottom:3px solid #F2861D;
        }
        
.navigation ul li {
    
        width:150px;
        float:none;
        border-top:none;
        }
        
.navigation ul a {
        display:block;
        height:15px;
        padding:8px 7px 100px 7px;
        color:#fff;
        float: none;
        text-decoration:none;
        border-top:none;
        border-bottom:1px dashed #6B6B6B;
        }
        
.navigation ul a:hover {color:#F2861D;}

barrita{float:left;
        width: 12%}